@import url(https://fonts.googleapis.com/css?family=Gafata:regular&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Gafata";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gafata";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.loaded body {
  opacity: 1 !important;
  visibility: visible !important;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 112.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  max-width: 480px;
  margin: 0 auto;
  opacity: 0;
}

.button {
  display: inline-block;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid transparent;
  outline: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  color: #000;
  outline: none;
  width: 100%;
  display: block;
  padding: 10px 0;
  border-bottom: 2px solid #000;
  background: transparent;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input._form-focus {
  border-bottom: 3px solid #000;
}

.input._form-error {
  border-bottom: 2px solid red;
}

textarea.input {
  resize: none;
  outline: none;
  display: block;
  min-height: 56px;
  overflow-y: hidden;
  padding: 10px 0;
  border-bottom: 2px solid #000;
  background: transparent;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 3;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 450px;
}

.header__logo {
  font-size: 16px;
  font-weight: 500;
}

.header__content {
  font-size: 16px;
  font-weight: 500;
}

.input__file {
  border: none;
}

.menu__left {
  position: fixed;
  left: -100%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 120px 60px 48px;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.menu__right {
  position: fixed;
  right: -100%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  padding: 120px 60px 48px;
  overflow-y: auto;
  -webkit-transition: all 0.8s ease 0.3s;
  transition: all 0.8s ease 0.3s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  max-width: 400px;
}

.menu__item {
  cursor: pointer;
  font-size: 24px;
  line-height: 1.33;
  color: #000;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__item._active {
  font-weight: 600;
}

.menu-open .menu__left {
  left: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.menu-open .form {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
}

.menu-open .menu__right {
  right: 0;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.menu-open .menu__item {
  opacity: 1;
  -webkit-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
}

.icon-menu {
  display: block;
  position: fixed;
  top: 50px;
  right: 10%;
  width: 3.125rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #ffffff;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  background-color: #000;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
}

.preload {
  z-index: 3;
  -webkit-transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
  transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s;
}

.preload.hide {
  opacity: 0;
  visibility: hidden;
}

.preload span {
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 4;
}

.preload__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100lvh;
  z-index: 3;
}

.preload-0 {
  z-index: 3;
  -webkit-transition: width 1s ease 0.5s, opacity 1s ease 1.5s, visibility 1s ease 1.5s;
  transition: width 1s ease 0.5s, opacity 1s ease 1.5s, visibility 1s ease 1.5s;
}

.preload-0.hide {
  width: 96.2%;
  opacity: 0;
  visibility: hidden;
}

.page {
  height: 100dvh;
  width: 100dvw;
  background-color: #343434;
}

.main-slider__slider.hide {
  opacity: 0;
  visibility: hidden;
}

.main-slider__slide {
  width: 100%;
  height: 100%;
}

.slide__image-ibg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slid__slide:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 101%;
          flex: 1 0 101%;
}

.slid__slide:last-child .slid__top {
  left: 48%;
}

.slid__body {
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.slid__item {
  position: absolute;
  top: 7%;
  left: 28.5%;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 500;
  margin-bottom: 20px;
  z-index: 2;
}

.slid__title {
  font-size: 72px;
  text-wrap: balance;
  margin-bottom: 50px;
  font-weight: 500;
}

.slid__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
}

.slid__top {
  position: absolute;
  top: 7%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 3;
}

.slid__top span {
  width: 48px;
  height: 2px;
  background-color: #fff;
}

.slid__title-sec {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  width: 230px;
}

.slid__title-sec:first-child {
  text-align: end;
}

.body-sec-slid {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  z-index: 2;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.body-sec-slid__title {
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.71;
  color: #fff;
  margin-bottom: 15px;
  max-width: 570px;
}

.body-sec-slid__name {
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 1px;
  margin-bottom: 24px;
  max-width: 570px;
}

.bottom-slid__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.bottom-slid__column__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.bottom-slid__text {
  max-width: 360px;
  width: 100%;
  font-size: 18px;
  text-wrap: balance;
  line-height: 1.3;
  margin-bottom: 10px;
}

.bottom-slid__btn {
  cursor: pointer;
  font-size: 1.125rem;
  padding: 5px 15px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.bottom-slid__number {
  font-size: 60px;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pagination {
  position: absolute;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination.swiper-pagination-lock {
  display: none;
}

.swiper-pagination-horizontal {
  left: 48%;
  bottom: 5%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  overflow-x: hidden;
  gap: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-horizontal .swiper-pagination-bullet {
  margin: 0 15px;
}

.swiper-pagination-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 3%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  overflow-y: hidden;
  gap: 15px 0;
}

.swiper-pagination-vertical .swiper-pagination-bullet {
  margin: 10px 0;
}

.swiper-pagination-bullet {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 17px;
  color: rgba(255, 255, 255, 0.5803921569);
  font-size: 20px;
  border: 2px solid transparent;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  color: #ffffff;
  border: 2px solid #fff;
  font-weight: 600;
}

.swiper-pagination-bullet-active-prev-prev {
  opacity: 0;
  visibility: hidden;
}

.swiper-pagination-bullet-active-next-next {
  opacity: 0;
  visibility: hidden;
}

.main-slider__slider .swiper-button-next {
  position: absolute;
  aspect-ratio: 2/1;
  bottom: 5%;
  left: 3%;
  z-index: 2;
  border: 2px solid rgba(255, 255, 255, 0.5803921569);
  color: rgba(255, 255, 255, 0.5803921569);
  border-radius: 5px;
  padding: 5px 15px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-slider__slider .swiper-button-next::before {
  content: ">";
  display: block;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-slider__slider .swiper-button-next.swiper-button-disabled {
  opacity: 0.5;
}

.slid__slider .swiper-button-next-slide {
  position: absolute;
  aspect-ratio: 2/1;
  bottom: 5%;
  right: 5%;
  z-index: 2;
  border: 2px solid rgba(255, 255, 255, 0.5803921569);
  color: rgba(255, 255, 255, 0.5803921569);
  border-radius: 5px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slid__slider .swiper-button-next-slide::before {
  content: ">";
  display: block;
  font-size: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-horizontal .swiper-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: hover) {
  .button:hover {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
  }

  .menu-open .icon-menu:hover::before {
    -webkit-transform: translate(0, 3px);
        -ms-transform: translate(0, 3px);
            transform: translate(0, 3px);
  }

  .menu-open .icon-menu:hover::after {
    -webkit-transform: translate(0, -3px);
        -ms-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }

  .bottom-slid__btn:hover {
    color: #fff;
    background-color: transparent;
  }

  .main-slider__slider .swiper-button-next:hover {
    border: 2px solid #ffffff;
  }

  .main-slider__slider .swiper-button-next:hover::before {
    color: #ffffff;
    -webkit-transform: translate(3px);
        -ms-transform: translate(3px);
            transform: translate(3px);
  }

  .main-slider__slider .swiper-button-next.swiper-button-disabled:hover {
    cursor: default;
    border: 2px solid rgba(255, 255, 255, 0.5803921569);
  }

  .main-slider__slider .swiper-button-next.swiper-button-disabled:hover::before {
    color: rgba(255, 255, 255, 0.5803921569);
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }

  .slid__slider .swiper-button-next-slide:hover {
    border: 2px solid #ffffff;
  }

  .slid__slider .swiper-button-next-slide:hover::before {
    color: #ffffff;
    -webkit-transform: translate(3px);
        -ms-transform: translate(3px);
            transform: translate(3px);
  }
}